<div class="div-template">
  <span>Номер платья #{{numberItem}}</span>
  <span>Стоимость платья {{price}} р.</span>
  <form class="form-order" [formGroup]="form1" id="formId" action="#">
    <tui-input
      tuiTextfieldSize="m"
      formControlName="email"
      [tuiTextfieldLabelOutside]="true"
  >
      Введите почту
      <input
          tuiTextfield
          type="email"
      />
  </tui-input>
  <tui-input
      tuiTextfieldSize="m"
      formControlName="numberPhone"
      [tuiTextfieldLabelOutside]="true"
  >
      Введите номер телефона
      <input
          tuiTextfield
          type="tel"
      />
  </tui-input>
  <tui-text-area
          formControlName="description"
          [expandable]="true"
      >
          Описание
      </tui-text-area>
  </form>
  <div style="display: flex; justify-content: end;">
    <button tuiButton class="c-bttn" (click)="submit()">Оформить заказ</button>

  </div>
</div>
