<div class="page">
  <div class="header">
    <div class="head">
      <div class="social">
        <img/>
      </div>
      <a>
        <span>W</span>
        <span>eddingd</span>
      </a>
      <button tuiButton appearance="outline">Оставить заявку</button>
    </div>
    <div class="br"></div>
    <div class="nav">
      <tui-tabs>
        <a tuiTab>О салоне</a>
        <a tuiTab>Каталог</a>
        <a tuiTab>Услуги</a>
        <a tuiTab>Отзывы</a>
        <a tuiTab>Доставка и оплата</a>
        <a tuiTab>Контакты</a>
      </tui-tabs>
    </div>
  </div>
  <div class="content">
    <div class="title">

    </div>
    <div class="about">
      <div class="about-l">
        <img class="about-icon" src="../assets/icons/wd_branch.svg"/>
        <span>О НАС</span>
        <span>
          Подробнее ознакомившись с нашим каталогом, 
          вы поймете, что без покупки от нас вы не уйдете!
        </span>
        <img class="about-image-l" src="../assets/images/wd_about_l.svg"/>
      </div>
      <div class="about-r">
        <img class="about-image-r" src="../assets/images/wb_about_r.svg"/>
        <span class="about-t-r">Наши консультанты позаботятся о правильности вашего выбора, 
          подобрав нужный размер свадебного платья. 
          На сайте удобно отбирать понравившиеся модели для примерки. 
          После записи на бесплатную примерку, 
          консультанты подготовят все выбранные модели
        </span>
      </div>
    </div>
    <div class="catalog">

    </div>
    <div class="br"></div>
    <div class="services">

    </div>
  </div>
  <div class="footer">

  </div>
</div>