
body{
    margin: 0px;
}

@font-face {
    font-family: 'Playfair-Display';
    src: url(assets/fonts/PlayfairDisplay.ttf) format("opentype");
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(assets/fonts/Inter-Regular.otf) format("opentype");
}

